h1 {
    color: #e02ecc;
    text-align: center;
    font-size: 30px;
}
.puntajes {
    display: flex;
    justify-content: space-around;
}
.manos {
    display: flex;
    justify-content: space-around;
}
.mano {
    width: 50px;
}